__pycache__/
*.py[cod]
*$py.class
modelenv/
venv/
env/
ENV/
.venv/
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
static/
local_settings.py
.env
.env.*
*.pid
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
.mypy_cache/
.dmypy.json
.pyre/
.ipynb_checkpoints
*.bak
*.swp
*.tmp
